.footer {
  width: 100%;
  height: 500px;
  background-color: #333;
  overflow: hidden;
  padding: 80px 55px;
  text-align: center;
  box-sizing: border-box;
}
.footer .w {
  position: relative;
}
.footer .w .footer_pub {
  float: left;
  color: #999999;
  margin-right: 48px;
  margin-bottom: 80px;
}
.footer .w .footer_pub dt {
  margin-bottom: 40px;
  text-align: left;
  margin-left: 25px;
}
.footer .w .footer_pub dd {
  float: left;
  padding: 0 20px;
  cursor: pointer;
}
.footer .w .footer_pub dd span {
  margin: 10px auto;
}
.footer .w .spec {
  margin-right: 0px;
}
.footer .w .footer_pub dd:nth-child(2) span {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../images/footer_bg.png') no-repeat 0px -2px;
}
.footer .w .footer_pub dd:nth-child(3) span {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../images/footer_bg.png') no-repeat -91px -2px;
}
.footer .w .footer_pub dd:nth-child(4) span {
  display: block;
  width: 50px;
  height: 49px;
  background: url('../images/footer_bg.png') no-repeat -182px -2px;
}
.footer .w .footer_pub dd:nth-child(5) span {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../images/footer_bg.png') no-repeat -273px -2px;
}
.footer .w .pub_list2 dd:nth-child(2) span {
  background: url('../images/footer_bg.png') no-repeat -364px -2px;
}
.footer .w .pub_list2 dd:nth-child(3) span {
  background: url('../images/footer_bg.png') no-repeat -455px -2px;
}
.footer .w .pub_list2 dd:nth-child(4) span {
  background: url('../images/footer_bg.png') no-repeat -555px -2px;
}
.footer .w .pub_list_ul li {
  text-align: left;
  margin: 10px ;
}
.footer .w .pub_list_ul li:last-child {
  margin-right: 0;
}
.footer .w .footer_copyright {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 251px;
  left: 0px;
}
.footer .w .footer_copyright .footer_copyright p {
  margin: 15px 0;
}
.footer .w .footer_copyright .footer_copyright p a {
  font-size: 12px;
}
